.center-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: auto;
}

.center-form {
  /* text-align: center; */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.box .center-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* Stack content vertically */
  align-items: center;
  height: 720px;
  width: 720px;
}

.passport-photo-box {
  border: 2px solid;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passport-photo-image {

  border: 1px solid grey;
}

.content {
  margin-top: 20px;
  /* Add space between passport photo and content */
}

.set-content h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-weight: bold;
  /* background-color: black; */
  width: 80%;
  display: inline-block;
  border-radius: 40px;
}

.content {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  display: inline-block;
}

.top-header {

  color: white;
  width: 100%;
  height: 35px;
  display: inline-block;
  background-color: #01012c;
  text-align: center;
  margin: 10px;
}

.top-header h3 {
  display: inline-block;
  margin: 0;
  /* Remove any default margin */
}

.top-header .first {
  
  float: left;
  font-size: large;
  margin-left: 5px;
  margin-top: 5px;
}

.top-header .center {

  display: inline-block;
  font-size: large;
  margin: auto;
  margin-top: 5px;
}
.top-header .last {
  
  float: right;
  font-size: large;
  margin-right: 5px;
  margin-top: 5px;
}