.index-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 30px;
  background-color: #7cb8f3;
  border-radius: 10px;
  padding: 50px;
}

.index-center-container .border {

  background-color: white;
  border-radius: 10px;
}

/* 320X50 ad is hide in desktop view  */
.ad-container-320x50 {
  display: none;
}

@media (max-width: 768px) {
  .ad-container-320x50 {
    display: block;
    /* Show the ad container only on mobile devices */
    width: 320px;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin: auto;
  }

  .ad-container-320x50 .buy-now {

    margin: 20px 0 0 -65px;
    /* font-size: smaller; */
  }

  .desktop-ad-left-container {
    display: none;
  }

  .desktop-ad-right-container {
    display: none;
  }
}

/* 160X600 ad css  */
.desktop-ad-left-container {

  margin: auto;
  margin-bottom: 5px;
}

.desktop-ad-left-container span {

  font-size: larger;
}

.desktop-ad-left-container .buy-now {

  margin: 50px 0 0 -200px;
  font-size: 30px;
}

.desktop-ad-right-container {
  margin: auto;
  margin-top: 5px;
}

.desktop-ad-right-container .buy-now {

  margin: 50px 0 0 -200px;
  font-size: 30px;
}

.desktop-ad-right-container span {

  font-size: larger;
}

@keyframes blinkAndChangeColor {
  0% {
    opacity: 1;
    background-color: green;
  }
  50% {
    opacity: 1.5;
    background-color: green;
  }
  100% {
    opacity: 1;
    background-color: green;
  }
}

.blinking-text {
  animation: blinkAndChangeColor 2s infinite; /* Adjust the duration as needed */
}